.container {
  padding: 50px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 75px;
  background-image: url("../../assets/bb.webp");
  background-size: contain;
}

.initial__state {
  align-items: center;
  height: 100vh;
}

.character-not-found,
.character-spinner {
  font-size: clamp(1rem, 2vw, 1.75rem);
}
